/* Theming */
/* @import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap"); */

:root{
	--white: #ffffff;
	--black: #36383F;
	--grey: #85888C;
/* 	--accent: #606060; */
	--accent: #fdcf4e;
/* 	--hover: #909090; */
	--hover: #FCEBBD;
	--shadow: #997C2F;
	--code: #f4f4f4;
	--footer: #909090;
/* 	--logo: #909090; */
	--logo: #BF9C3B;
/* 	--navfontcolor: #d0d0d0; */
/* 	--navfontcolor: #54441A; */
	--navfontcolor: #000000;
	--background: #ffffff;
	--fontcolor: #000000;
	--linkcolor: crimson;
	--red: #ff0000;
}

/* Reset */
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body{
	background-color: var(--background);
	font-family: 'Roboto', sans-serif;
}

a{
	text-decoration: none;
}

ul{
	list-style: none;
}

/* Header */
.header{
	background-color: var(--accent);
	box-shadow: 1px 1px 4px 0px var(--shadow);
	position: sticky;
	top: 0;
	width: 100%;
}

/* Logo */
.logo{
	display: inline-block;
	color: var(--logo);
	font-size: 20px;
	margin-left: 15px;
	margin-top: 15px;
	margin-bottom: 15px;
/* 	font-weight: bold; */
/* 	text-shadow: 0px 0px 4px var(--shadow); */
}

/* Nav menu */
.nav{
	width: 100%;
	height: 100%;
	position: fixed;
	top: 50px;
	background-color: var(--accent);
	overflow: hidden;
	
}

.menu a{
	display: block;
	padding: 20px 25px;
	color: var(--navfontcolor);

}

.menu a:hover{
	background-color: var(--hover);
}

.nav{
	max-height: 0;
	transition: max-height .15s ease-out;
}

/* Menu Icon */

.hamb{
	cursor: pointer;
	float: right;
	padding: 27px 17px;
}


.hamb-line {
	background: var(--navfontcolor);
	display: block;
	height: 2px;
	position: relative;
	width: 24px;
	
}

.hamb-line::before,
.hamb-line::after{
	background: var(--navfontcolor);
	content: '';
	display: block;
	height: 100%;
	position: absolute;
	transition: all .2s ease-out;
	width: 100%;
}

.hamb-line::before{
	top: 5px;
}

.hamb-line::after{
	top: -5px;
}


.side-menu {
	display: none;
}

/* Toggle menu icon */

.side-menu:checked ~ nav{
	max-height: 100%;
}

.side-menu:checked ~ .hamb .hamb-line {
	background: transparent;
}

.side-menu:checked ~ .hamb .hamb-line::before {
	transform: rotate(-45deg);
	top:0;

}

.side-menu:checked ~ .hamb .hamb-line::after {
	transform: rotate(45deg);
	top:0;
}


/* Responsiveness */

@media (min-width: 768px) {
	.nav{
		max-height: none;
		top: 0;
		position: relative;
		float: right;
		width: fit-content;
		background-color: transparent;

	}

	.menu li{
		float: left;
	}

	.menu a:hover{
		background-color: transparent;
/* 		color: var(--white); */
/* 		text-decoration: underline; */
		
	}
	
	.hamb{
		display: none;
	}
}



article {
	margin-left: 25px;
	margin-right: 25px;
	color: var(--fontcolor);
}

article h1 {
	margin-top: 2ex;
	margin-bottom: 2ex;
	font-size:200%;
}

article h2 {
	margin-top: 2ex;
	margin-bottom: 1.5ex;
}

.biblio ul, .links ul, .ramblings ul {
	font-size:100%;
	margin-left: 25px;
	margin-right: 25px;
	margin-top: 15px;
}

.staticwebsite ol {
	font-size:100%;
	margin-left: 25px;
	margin-right: 25px;
	margin-top: 15px;
}

.biblio li {
	list-style-type: none;
	text-indent: -25px;
/* 	padding-left: 2em; */
	line-height: 120%;
	margin-bottom: 2ex;
}

.links li, .ramblings li, .staticwebsite li {
	line-height: 160%;
	margin-bottom: 1.5ex;
}

.links li, .ramblings li {
	list-style: square;
}

sup {
	font-size: 75%;
	line-height: 0.01ex;
}

sub {
	font-size: 75%;
	line-height: 0.01ex;
}

.footer {
/* 
	position: absolute ;
	bottom: -2em ;
 */
	padding-top: 50px ;
	padding-bottom: 25px ;
	text-align: center;
	color: var(--footer);
	font-size: 75%;
}

.footer a:link,
.footer a:visited {
	color: var(--footer);
}

.index .footer{
	visibility: hidden;
	}

@media (min-width: 768px) {
	article{
		padding-top: 25px;
		max-width: 720px;
		margin-left: auto;
		margin-right: auto;
	}
}

article p {
	margin-top: 3ex;
	margin-bottom: 3ex;
	line-height: 140%;
}

article a:visited,
article a:link {
	color: var(--linkcolor);
	text-decoration: none;
}

article a:hover,
article a:active {
	text-decoration: underline;
}

code {
	font-family: "Roboto Mono", monospace;
	background: var(--code);
	padding-left: .5ex;
	padding-right: .5ex;
	border: 1px solid #dddddd;

}

pre code {
	border-top: 1px solid #aaaaaa;
	border-bottom: 1px solid #aaaaaa;
	font-size: 80%;
	display: block;
	background: var(--code);
	white-space: pre;
	-webkit-overflow-scrolling: touch;
	overflow-x: scroll;
	max-width: 100%;
	min-width: 100px;
	padding: 2ex;
}
